# 프론트엔드
frontend/node_modules/
frontend/build/
frontend/npm-debug.log
frontend/env/dev.env
frontend/env/prod.env

# 백엔드
backend/build/
backend/target/
backend/.gradle/
backend/out/
backend/.idea/
backend/*.iml
backend/*.iws
backend/*.ipr
backend/.classpath
backend/.project
backend/.settings/

# 기타
.env
.env.dev
.env.prd
*.log
.DS_Store
.vscode/
.idea/

# 환경 변수 파일 (배포 시 민감한 정보가 포함될 수 있으므로)
# 샘플 파일은 git에 포함하고 실제 사용 파일은 제외
backend/env/*.env
frontend/env/*.env
# Docker
.docker/ 